[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = ">=6.0"
psycopg2 = ">=2.9"
SQLAlchemy = ">=1.4"

[dev-packages]
black = "*"
pytest = "*"
pynguin = "*"
twine = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
